<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<!-- The application's web.xml configuration is provided via Servlet 3.0's 
		javax.servlet.ServletContainerInitializer mechanism. See the com.justdavis.karl.rpstourney.service.app.GameServiceApplicationInitializer 
		class for more details. -->
</web-app>
