<configuration scan="false">
	<!-- Required to ensure that JUL respects log level changes. -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- A file-based logging target, which will rollover daily and clean up 
		log archives older than 90 days. -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Note the 'logs/' directory being used, which is required for Tomcat. -->
		<file>logs/${project.artifactId}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/${project.artifactId}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Disable all logging by default. The app's Options.debugEnabled flag 
		can be used to enable logging, if desired. -->
	<root level="info">
		<appender-ref ref="FILE" />
	</root>
</configuration>