<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<display-name>Game Service</display-name>
		<servlet-name>rpsapi</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.justdavis.karl.rpstourney.webservice.GameApplication</param-value>
		</init-param>
		<!-- This parameter is recognized only starting from CXF 2.3.1 @ApplicationPath 
			value will be ignored if this parameter is set to true -->
		<init-param>
			<param-name>jaxrs.application.address.ignore</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rpsapi</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
