# Ignore Eclipse metadata files, but include .gitignore itself
/.*
!/.gitignore

# Ignore Maven output folders
/target*/

# Ignore the Python virtual environment.
venv/

# Ignore the downloaded Ansible roles.
vendor_roles/

# Ignore Eclipse metadata.
.project

# Ignore the Ansible Vault password file.
vault.password

# Ignore Ansible's `.retry` files.
*.retry

# Ignore the test host inventory.
test/hosts-test

# Ignore the saved Ansible logs. (No way to reasonably version control them; hopefully backups catch them, if needed.)
logs/
